header {
    padding: 20px 0;
}

.caja {
    width: 70%;
    position: relative;
    margin: 0 auto;
}

.logo {
    width: 160px;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
}

nav a:hover {
    color: #46BEEE;
    text-decoration: underline;
}

#banner {
    width: 100%;
}

.principal {
    background: #46BEEE;
    padding: 20px;
}

.text-center {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

p {
    text-align: center;
}

#mision {
    font-size: 20px;
}

em strong {
    color: #ffffff;
}

.diferenciales {
    background: #ffffff;
    padding: 30px;
}

.diferenciales h2 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}

.diferenciales-lista {
    display: inline-block;
    vertical-align: top;
    padding: 50px 0 0 30px;
    width: 20%;
    margin-right: 15%;
    list-style-type: "🐕";
    font-size: 20px;
}

.items {
    font-style: italic;
}

.imagen-diferenciales {
    width: 50%;
    border: 2px solid #46BEEE;
    border-radius: 10px;
}

footer {
    text-align: center;
    background: linear-gradient(to right, #51C7F1, #43BAED, #2AB0E7);
    padding: 40px;
}

.logo-blanco {
    width: 160px;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}